{% extends "base.twig" %}

{% block content %}

<section class="block-wrapper hero-wrapper">
    <div class="block hero">
        <h1 class="hero-title">
            <span class="title-left animated left">{{ fields.hero_screen.main_label_1 }}</span>
            <span class="title-right animated right">{{ fields.hero_screen.main_label_2 }}</span>
        </h1>
        {% set canvas = get_canvas(fields.hero_screen.image) %}
        <figure class="canvas hero-canvas stripe-deco target gallery-item" data-id="{{ canvas.id }}" title="{{ canvas.title }}">
            <img src="{{ canvas.src }}" alt="{{ canvas.alt }}">
            <div class="custom-preloader" id="preloader">
                <div class="circle">
                    <div class="loading-count">0</div>
                    <svg class="progress-ring" width="160" height="160">
                        <circle class="bg" r="70" cx="70" cy="70"></circle>
                        <circle class="progress" r="70" cx="70" cy="70"></circle>
                    </svg>
                </div>
                <span class="loading-text">{{ fields.hero_screen.loader_notification }}</span>
            </div>
        </figure>
        <button class="custom-button gallery-button gallery-item">{{ fields.hero_screen.gallery_button }}</button>
    </div>
</section>

<section class="block-wrapper about-wrapper">
    <div class="block about">
        {% set canvas = get_canvas(fields.about_project.image) %}
        <figure class="canvas grid-1 target gallery-item" data-id="{{ canvas.id }}" title="{{ canvas.title }}">
            <img src="{{ canvas.src }}" alt="{{ canvas.alt or canvas.title }}">
        </figure>
        <article class="about-article grid-2 ">
            <h2 class="title animated left">{{ fields.our_mission.title }}</h2>
            {{ fields.our_mission.text }}
        </article>

        {% set canvas = get_canvas(fields.our_mission.image) %}
        <figure class="canvas grid-3 target gallery-item" data-id="{{ canvas.id }}" title="{{ canvas.title }}">
            <img src="{{ canvas.src }}" alt="{{ canvas.alt or canvas.title }}">
        </figure>
        <article class="about-article grid-4">
            <h2 class="title animated right">{{ fields.about_project.title }}</h2>
            {{ fields.about_project.text_1 }}
            {% if fields.about_project.red_lines and fields.about_project.red_lines is iterable %}
            <p class="accent-text">
                {% for val in fields.about_project.red_lines %}
                <span>{{ val.line }}</span>
                {% endfor %}
            </p>
            {% endif %}
            {{ fields.about_project.text_2 }}
        </article>
    </div>
</section>

<section class="block-wrapper more-wrapper">
    <div class="block more">
        <h2 class="more-title">
            <span class="left animated left">{{ fields.see_more.text_line_1 }}</span>
            <a class="custom-button big" id="catalog-button" href="{{ fields.see_more.pdf_catalog.url }}" download="{{ fields.see_more.pdf_catalog.title }}.pdf">Download catalog</a>
            <span class="right animated right">{{ fields.see_more.text_line_1 }}</span>
        </h2>
    </div>
</section>

<section class="block-wrapper location-wrapper">
    <div class="block location">
        <h4 class="title animated left">{{ fields.where.title }}</h4>
        <div class="location-map">
            {% set canvas = get_canvas(fields.where.image) %}
            <figure class="canvas target gallery-item" data-id="{{ canvas.id }}" title="{{ canvas.title }}">
                <img src="{{ canvas.src }}" alt="{{ canvas.alt or canvas.title }}">
            </figure>
            <figure class="map">
                <img src="{{ fields.where.map.url }}" alt="{{ fields.where.map.alt }}">
            </figure>
        </div>
    </div>
</section>

<section class="block-wrapper authors-wrapper">
    <div class="block authors">
        <div class="author-container daryna">
            <figure class="avatar">
                <img src="{{ fields.authors[0].photo.url }}" alt="{{ fields.authors[0].name }}">
                <figcaption>
                    <button class="arrow next">
                        <svg width="15" height="15">
                            <use href="{{ site.theme.uri ~ '/assets/img/svg/sprite.svg?ver=' ~ assets }}#arrow"></use>
                        </svg>
                    </button>
                    <span class="title">Authors</span>
                </figcaption>
            </figure>
            <article>
                <h3 class="name">{{ fields.authors[0].name }}</h3>
                <span class="role">{{ fields.authors[0].role }}</span>
                {{ fields.authors[0].text }}
                <div class="nav">
                    <svg width="25" height="25">
                        <use href="{{ site.theme.uri ~ '/assets/img/svg/sprite.svg?ver=' ~ assets }}#instagram"></use>
                    </svg>
                    <a href="{{ fields.authors[0].instagram.url }}" target="{{ fields.authors[0].instagram.target }}">{{ fields.authors[0].instagram.title }}</a>
                </div>
            </article>
        </div>
        <div class="author-container oleksandr">
            <figure class="avatar">
                <img src="{{ fields.authors[1].photo.url }}" alt="{{ fields.authors[1].name }}">
                <figcaption>
                    <span class="title">Authors</span>
                    <button class="arrow prev">
                        <svg width="15" height="15">
                            <use href="{{ site.theme.uri ~ '/assets/img/svg/sprite.svg?ver=' ~ assets }}#arrow"></use>
                        </svg>
                    </button>
                </figcaption>
            </figure>
            <article>
                <h3 class="name">{{ fields.authors[1].name }}</h3>
                <span class="role">{{ fields.authors[1].role }}</span>
                {{ fields.authors[1].text }}
                <div class="nav">
                    <svg width="25" height="25">
                        <use href="{{ site.theme.uri ~ '/assets/img/svg/sprite.svg?ver=' ~ assets }}#instagram"></use>
                    </svg>
                    <a href="{{ fields.authors[1].instagram.url }}" target="{{ fields.authors[1].instagram.target }}">{{ fields.authors[1].instagram.title }}</a>
                </div>
            </article>
        </div>
    </div>
</section>

<section class="block-wrapper charity-wrapper">
    <div class="block charity">
        {% set canvas = get_canvas(fields.charity.image_1) %}
        <figure class="canvas grid-1 target gallery-item" data-id="{{ canvas.id }}" title="{{ canvas.title }}">
            <img src="{{ canvas.src }}" alt="{{ canvas.alt or canvas.title }}">
        </figure>
        <article class="article grid-2">
            <h4 class="title animated right">{{ fields.charity.title }}</h4>
            {{ fields.charity.text }}
            <a class="custom-button big" href="{{ fields.charity.button.url }}" target="{{ fields.charity.button.target }}">{{ fields.charity.button.title }}</a>
        </article>
        {% set canvas = get_canvas(fields.charity.image_2) %}
        <figure class="canvas grid-3 target gallery-item" data-id="{{ canvas.id }}" title="{{ canvas.title }}">
            <img src="{{ canvas.src }}" alt="{{ canvas.alt or canvas.title }}">
        </figure>
    </div>
    <div class="decor-bottom"></div>
</section>

<section class="block-wrapper exhibitions-wrapper">
    <div class="block exhibitions">
        <h4 class="title animated left">{{ fields.exhibitions.title }}</h4>
        {% if fields.exhibitions.exhibitions and fields.exhibitions.exhibitions is iterable %}
        <div class="animated list">
            {% for exhibition in fields.exhibitions.exhibitions %}
                <a class="exhibition-link" href="{{ exhibition.link }}" target="_blank">
                    <span>{{ exhibition.date }}</span>
                    <span>{{ exhibition.location }}</span>
                </a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</section>

<section class="block-wrapper contact-us-wrapper">
    <div class="block contact-us">
        <h4 class="title">
            <span class="animated left">{{ fields.contact_us.line_1 }} </span>
            <span class="animated right">{{ fields.contact_us.line_2 }}</span>
        </h4>
        {{ fields.contact_us.text }}
        <a href="{{ fields.contact_us.button.url }}" class="custom-button" target="{{ fields.contact_us.button.target }}">{{ fields.contact_us.button.title }}</a>
    </div>
</section>

<section class="block-wrapper instagram-wrapper">
    <div class="block instagram">
        <a class="instagram-link target animated left" href="{{ fields.contact_us.instagram_link }}" target="_blank">{{ fields.contact_us.instagram_title }}</a>
        <div class="photo-container">
            <a class="photo" href="{{ fields.contact_us.instagram_posts[0].link }}" target="_blank">
                <div class="subscribe">
                    <span class="icon"></span>
                    <h5 class="title">{{ fields.contact_us.instagram_posts[0].title }}</h5>
                    <span class="location">{{ fields.contact_us.instagram_posts[0].location }}</span>
                </div>
                <img src="{{ fields.contact_us.instagram_posts[0].photo.url }}" alt="{{ fields.contact_us.instagram_posts[0].photo.alt }}">
            </a>
            <a class="photo" href="{{ fields.contact_us.instagram_posts[1].link }}" target="_blank">
                <div class="subscribe">
                    <span class="icon"></span>
                    <h5 class="title">{{ fields.contact_us.instagram_posts[1].title }}</h5>
                    <span class="location">{{ fields.contact_us.instagram_posts[1].location }}</span>
                </div>
                <img src="{{ fields.contact_us.instagram_posts[1].photo.url }}" alt="{{ fields.contact_us.instagram_posts[1].photo.alt }}">
            </a>
            <a class="photo" href="{{ fields.contact_us.instagram_posts[2].link }}" target="_blank">
                <div class="subscribe">
                    <span class="icon"></span>
                    <h5 class="title">{{ fields.contact_us.instagram_posts[2].title }}</h5>
                    <span class="location">{{ fields.contact_us.instagram_posts[2].location }}</span>
                </div>
                <img src="{{ fields.contact_us.instagram_posts[2].photo.url }}" alt="{{ fields.contact_us.instagram_posts[2].photo.alt }}">
            </a>
            <a class="photo" href="{{ fields.contact_us.instagram_posts[3].link }}" target="_blank">
                <div class="subscribe">
                    <span class="icon"></span>
                    <h5 class="title">{{ fields.contact_us.instagram_posts[3].title }}</h5>
                    <span class="location">{{ fields.contact_us.instagram_posts[3].location }}</span>
                </div>
                <img src="{{ fields.contact_us.instagram_posts[3].photo.url }}" alt="{{ fields.contact_us.instagram_posts[3].photo.alt }}">
            </a>
        </div>
    </div>
</section>

<section class="block-wrapper contact-wrapper">
    <div class="block contact">
        <h4 class="title">{{ fields.contact_us.contacts_widget.title }}</h4>
        <div class="content">
            <div class="about">
                <h5 class="name">{{ fields.contact_us.contacts_widget.name }}</h5>
                <span>{{ fields.contact_us.contacts_widget.post }}</span>
            </div>
            <div class="links">
                <a href="mailto:{{ fields.contact_us.contacts_widget.email }}" class="mail">{{ fields.contact_us.contacts_widget.email }}</a>
                <a href="tel:{{ fix_phone_format(fields.contact_us.contacts_widget.phone) }}" class="phone">{{ nice_phone_format(fields.contact_us.contacts_widget.phone) }}</a>
            </div>
        </div>
    </div>
</section>

<section class="block-wrapper gallery-wrapper">
    <div class="block gallery">
        <button class="close close-gallery">
            <svg width="18" height="18">
                <use href="{{ site.theme.uri ~ '/assets/img/svg/sprite.svg?ver=' ~ assets }}#close"></use>
            </svg>
        </button>
        <div class="swiper gallery-swiper">
            <div class="swiper-wrapper">
                {% for picture in get_canvases() %}
                    <div
                        class="swiper-slide slide"
                        id="{{ picture.id }}"
                        data-id="{{ picture.id }}"
                        data-title="{{ picture.title }}"
                        data-content="{{ picture.content }}"
                        data-location="{{ picture.location }}"
                        data-limited="{{ picture.limited }}"
                    >
                        <img src="{{ picture.src }}" alt="picture-{{ picture.id }}">
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-button-prev" aria-label="Previous"></div>
            <div class="swiper-button-next" aria-label="Next"></div>
        </div>
        <aside class="gallery-caption" aria-live="polite">
            <h4 class="gc-title"></h4>
            <article class="gc-desc"></article>
            <div class="gc-meta">
                <div class="gc-location"></div>
                <div class="gc-limited"></div>
            </div>
        </aside>
    </div>
</section>

<footer class="block-wrapper footer-wrapper">
    <div class="block footer">
        <h6 class="title">
            <span>Stolen Life © 2025,</span>
            <span>All rights reserved</span>
        </h6>
        <div class="links">
            <span>Design by <a href="https://www.behance.net/olesia_koshkina" target="_blank">Olesia Koshkina</a></span>
            <span>Developed by <a href="https://vitaliikaplia.com/" target="_blank">Vitalii Kaplia</a></span>
        </div>
    </div>
</footer>

<div class="custom-cursor"></div>

{% endblock %}