{% extends "base-clean.twig" %}

{% block content %}

    {% if general_fields.password_protected_page.title %}
    <p class="title">{{ general_fields.password_protected_page.title }}</p>
    {% endif %}

    <form class="password-form" action="{{site.site_url}}/wp-login.php?action=postpass" method="post">
        <input class="password-box" name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="{{ __('Password', TEXTDOMAIN) }}" size="20" maxlength="20" required />
        <input class="password-btn" type="submit" name="Submit" value="{{ __('Submit', TEXTDOMAIN) }}" />
    </form>

    {% if general_fields.password_protected_page.back_button.url and general_fields.password_protected_page.back_button.title %}
    <p class="overallButton primary">
        <a href="{{ general_fields.password_protected_page.back_button.url }}" target="{{ general_fields.password_protected_page.back_button.target }}">
            <span>{{ general_fields.password_protected_page.back_button.title }}</span>
        </a>
    </p>
    {% endif %}

{% endblock %}