<label for="{{ name }}">
    <input type="checkbox" value="1" class="custom-options-{{ val.type }}" name="{{ name }}" id="{{ name }}"{% if value %} checked="checked"{% endif %} />
    {{ description }}
</label>
