<label for="{{ name }}">
    <input type="password" class="regular-text custom-options-{{ val.type }}" name="{{ name }}" id="{{ name }}" value="{{ value }}" autocomplete="new-password" />
    {% if description %}
    <p class="description">{{ description }}</p>
    {% endif %}
</label>
